[core]
	editor = lvim
[transfer]
	fsckobjects = true
[init]
	defaultBranch = main
[alias]
	gst = git
	st = status
	di = diff
	co = checkout
	ci = commit
	cp = cherry-pick
	br = branch
	sta = stash
	llog = log --date=local
	flog = log --pretty=fuller --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	blog = log origin/master... --left-right
	ds = diff --staged
	fixup = commit --fixup
	squash = commit --squash
	amendit = commit --amend --no-edit
	unstage = reset HEAD
	rum = rebase master@{u}
	gst = git
	gst = git
	gst = git
[user]
	name = Oliver Switzer
	email = oliverswitzer@gmail.com
[pull]
	ff = only
[push]
	default = current
[http]
	postBuffer = 157286400
[include]
	path = ~/.gitconfig-geometer
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[difftool "idea"]
	cmd = idea diff \
		\"$(cd \"$(dirname \"$LOCAL\")\" && pwd)/$(basename \"$LOCAL\")\" \
		\"$(cd \"$(dirname \"$REMOTE\")\" && pwd)/$(basename \"$REMOTE\")\" \

[diff]
	tool = idea
	guitool = idea

[mergetool "idea"]
	cmd = idea merge \
		\"$(cd \"$(dirname \"$LOCAL\")\" && pwd)/$(basename \"$LOCAL\")\" \
		\"$(cd \"$(dirname \"$REMOTE\")\" && pwd)/$(basename \"$REMOTE\")\" \
		\"$(cd \"$(dirname \"$BASE\")\" && pwd)/$(basename \"$BASE\")\" \
		\"$(cd \"$(dirname \"$MERGED\")\" && pwd)/$(basename \"$MERGED\")\" \

[merge]
	tool = idea
	guitool = idea
; [merge]
;     tool = intellij
; [mergetool "intellij"]
;     cmd = open $(brew info --cask intellij-idea-ce | sed -n '3 p' | cut -f1 -d' ')/IntelliJ\\ IDEA\\ CE.app && sleep 5 && /usr/local/bin/idea diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")
;     trustExitCode = true

; [diff]
;     tool = intellij
; [difftool "intellij"]
;     cmd = open $(brew info --cask intellij-idea-ce | sed -n '3 p' | cut -f1 -d' ')/IntelliJ\\ IDEA\\ CE.app && sleep 5 && /usr/local/bin/idea diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
