elixir 1.15.5-otp-25
erlang 25.3.2.7
nodejs 20.0.0
golang 1.20
jq 1.7.1
java oracle-18
helm 3.11.2
postgres 14.0
ruby 3.1.0
terraform 1.4.2
direnv 2.32.3

# Python only necessary for this Vim plugin https://github.com/SirVer/ultisnips
python 3.10.2
