<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>db_connection</key>
			<dict>
				<key>date</key>
				<date>2022-03-04T16:49:41Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>db_connection</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>db_connection</string>
				</dict>
			</dict>
			<key>ecto</key>
			<dict>
				<key>date</key>
				<date>2022-05-11T20:21:16Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ecto</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ecto</string>
				</dict>
			</dict>
			<key>ecto_sql</key>
			<dict>
				<key>date</key>
				<date>2022-05-02T16:51:35Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ecto_sql</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ecto_sql</string>
				</dict>
			</dict>
			<key>ex_twilio</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:22Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ex_twilio</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ex_twilio</string>
				</dict>
			</dict>
			<key>floki</key>
			<dict>
				<key>date</key>
				<date>2022-03-31T14:23:54Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>floki</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>floki</string>
				</dict>
			</dict>
			<key>guardian</key>
			<dict>
				<key>date</key>
				<date>2022-03-31T14:23:54Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>guardian</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>guardian</string>
				</dict>
			</dict>
			<key>gun</key>
			<dict>
				<key>date</key>
				<date>2022-01-05T18:05:02Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>gun</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>gun</string>
				</dict>
			</dict>
			<key>hammox</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:09Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>hammox</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>hammox</string>
				</dict>
			</dict>
			<key>hound</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:23Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>hound</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>hound</string>
				</dict>
			</dict>
			<key>httpoison</key>
			<dict>
				<key>date</key>
				<date>2022-03-31T14:23:54Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>httpoison</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>httpoison</string>
				</dict>
			</dict>
			<key>jason</key>
			<dict>
				<key>date</key>
				<date>2022-01-05T17:51:57Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>jason</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>jason</string>
				</dict>
			</dict>
			<key>mox</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:07Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>mox</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>mox</string>
				</dict>
			</dict>
			<key>oban</key>
			<dict>
				<key>date</key>
				<date>2022-04-23T20:04:57Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>oban</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>oban</string>
				</dict>
			</dict>
			<key>opentelemetry</key>
			<dict>
				<key>date</key>
				<date>2022-05-02T16:51:35Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>opentelemetry</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>opentelemetry</string>
				</dict>
			</dict>
			<key>opentelemetry_api</key>
			<dict>
				<key>date</key>
				<date>2022-05-02T16:51:36Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>opentelemetry_api</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>opentelemetry_api</string>
				</dict>
			</dict>
			<key>phoenix</key>
			<dict>
				<key>date</key>
				<date>2022-05-11T20:21:15Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix</string>
				</dict>
			</dict>
			<key>phoenix_client</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:15Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_client</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_client</string>
				</dict>
			</dict>
			<key>phoenix_ecto</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:07Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_ecto</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_ecto</string>
				</dict>
			</dict>
			<key>phoenix_html</key>
			<dict>
				<key>date</key>
				<date>2022-01-05T17:51:56Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_html</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_html</string>
				</dict>
			</dict>
			<key>phoenix_live_view</key>
			<dict>
				<key>date</key>
				<date>2022-04-07T15:09:12Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_live_view</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_live_view</string>
				</dict>
			</dict>
			<key>plug</key>
			<dict>
				<key>date</key>
				<date>2022-03-11T01:41:33Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>plug</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>plug</string>
				</dict>
			</dict>
			<key>poison</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:24Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>poison</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>poison</string>
				</dict>
			</dict>
			<key>porcelain</key>
			<dict>
				<key>date</key>
				<date>2022-01-16T00:58:00Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>porcelain</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>porcelain</string>
				</dict>
			</dict>
			<key>telemetry</key>
			<dict>
				<key>date</key>
				<date>2022-04-03T02:13:22Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>telemetry</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>telemetry</string>
				</dict>
			</dict>
			<key>telemetry_metrics</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:07Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>telemetry_metrics</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>telemetry_metrics</string>
				</dict>
			</dict>
			<key>temple</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:25Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>temple</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>temple</string>
				</dict>
			</dict>
			<key>timex</key>
			<dict>
				<key>date</key>
				<date>2022-05-04T16:51:37Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>timex</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>timex</string>
				</dict>
			</dict>
			<key>ueberauth</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:12Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ueberauth</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ueberauth</string>
				</dict>
			</dict>
			<key>ueberauth_google</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:25Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ueberauth_google</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ueberauth_google</string>
				</dict>
			</dict>
			<key>wallaby</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:24Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>wallaby</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>wallaby</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHWKWebViewTextSizeMultiplier</key>
	<real>1.1999998092651367</real>
	<key>actuallyDarkWebView</key>
	<true/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict/>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Arduino.xml</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:16Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:08Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:12Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:12Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Elixir.xml</key>
			<dict>
				<key>date</key>
				<date>2020-10-29T15:46:42Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Erlang.xml</key>
			<dict>
				<key>date</key>
				<date>2020-10-29T15:46:52Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:15Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:23Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Markdown.xml</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:14Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:14Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:18Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:17Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_5.xml</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:19Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_6.xml</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:21Z</date>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:18Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Vim.xml</key>
			<dict>
				<key>date</key>
				<date>2021-12-03T00:41:20Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<false/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldSyncBookmarks</key>
	<false/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
</dict>
</plist>
